<div class="row">
    <div class="col-md-12 m-datepicker">
        <div class="col-md-12">
            <div class="col-md-5">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>Start date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="startDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>End date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="endDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
            </div>
            <div class="col-md-2 m-t-1">
                <button type="button" class="btn btn-color" (click)="overviewProtectionDashboard()">
                    Set Date
                </button>
            </div>
           
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-3 pl-0 mb-3">
            <div id="topBlockedChartId"></div>
        </div>
        <div class="col-md-4 mt-3 pl-0 mb-3">
            <div id="topAccessingBlockedId"></div>
        </div>
        <div class="col-md-4 mt-3 pl-0 mb-3">
            <div id="topCategoryId"></div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6 pl-0">
              <div id="topBlockedContentId"></div>
        </div>
    </div> -->
</div>


<div class="row padding-bottom-zero" *ngIf="IsOverviewCard">
    <div class="col-xs-6 col-sm-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Filter Actions</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter" id="">
                        <thead class="text-primary">
                            <tr>
                                <th>Firewall Rule Name</th>
                                <th class="text-center">Action</th>
                                <th class="text-center">IAP</th>
                                <th class="text-center">Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- *ngFor="let filter of filterActionTableData" -->
                              
                                <td>

                                </td>
                                <td class="text-center">
                                
                                </td>
                                <td class="text-center">
                                  
                                </td>
                                <td class="text-center">
                                  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>