<div class="super-container pt-1">
  <div class="row">
    <div class="col-lg-12" id="content" #content>
      <div class="listing col-lg-12">
        <div class="list-head col-lg-12">
          <div class="row flex1">
            <div class="col-sm-8">
              <div class="float-right">
                <nav class="primary pull-left">
                  <div class="form-group flex">
                    <div>
                      <div *ngIf="loading" id="loading"></div>
                    </div>
                    
                  </div>
                </nav>
              </div>
            </div>
            <div class="col-sm-4 text-right mt-2">
              <div class="title-block pull-left">
                <button type="button" class="btn btn-color"
                routerLink="/reporting/schedule-report/create">Schedule Report</button>
              </div>
            </div>
          </div>
          <div class="flex space-between rule-list-row">
            <div class="list-column">
              <div class="head-column-text">Schedule Type</div>
            </div>
            <div class="list-column">
              <div class="head-column-text">Schedule Time</div>
            </div>           
            <div class="list-column">
              <div class="head-column-text">Report Type</div>
            </div>
            <div class="list-column">
              <div class="head-column-text">User Type</div>
            </div>
            <div class="list-column">
              <div class="head-column-text">User</div>
            </div>
            <div class="list-column">
              <div class="head-column-text">Action</div>
            </div>
          </div>

          <div
            *ngFor="let rep of reportList | paginate: { id:'first', itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }; let i=index"
            class="rule-list-row rule-row flex space-between">

            
            <div class="list-column">
              <div class="column-text">
                {{ rep.schedule_type }}
              </div>
            </div>
            <div class="list-column">
              <div class="column-text">
                {{ rep.schedule_time }}
              </div>
            </div>
            <div class="list-column">
              <div class="column-text">
                {{ rep.report_type }}
              </div>
            </div>
            <div class="list-column">
              <div class="column-text">
                {{ rep.user_type }}
              </div>
            </div>
            <div class="list-column">
              <div class="column-text">
                {{ rep.report_user }}
              </div>
            </div>
            <div class="list-column">
              <div class="column-text">
                <span class="text-danger cursor" (click)="delete(rep.id)">
                  <img src="assets/img/delete.png" width="32" height="32"/>
              </span>
              </div>
            </div>
          </div>

          <div class="row pagination-container">
            <div class="mt-4">
              <!-- <div>
                <div *ngIf="loading" id="loading"></div>
              </div> -->
              <pagination-controls (pageChange)="onPageChange($event, '1')" id="first">
              </pagination-controls>
            </div>
            <div class="m-pagination">
              <span>Jump to page</span>
              <select id="PerPage" class="form-control" (change)="onPageChange($event, '2')">
                <option *ngFor="let item of PageTotalNumber" [value]="item">
                  {{ item }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
