<div class="row">
    <div class="col-md-12 m-datepicker">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>Start date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="startDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>End date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="endDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
            </div>
            <div class="col-md-2 m-t-0">
                <button type="button" class="btn btn-color" (click)="overviewDurationDashboard()">
                    <i class="fas fa-arrow-up"></i>
                </button>
            </div>
            <div class="col-md-2 m-t-0">
                <button type="button" class="btn btn-color" (click)="resetFilters()">
                    Clear Filter
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 m-t-1" *ngIf="useFilter">
        <!-- <button type="button" class="btn btn-color-org"> -->
        <label class="f-size">Filters:</label>
        <label class="btn-color-org">{{filterFieldValue}} : {{filterFieldName}}</label>
        <!-- </button> -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 pl-0 mb-3">
            <div [ngClass]="{bgColorShadow: IsOverviewCard === true }">
                <div id="fwTopSitesId2"></div>
            </div>

        </div>
        <div class="col-md-6 mt-3 pl-0 mb-3">
            <div [ngClass]="{bgColorShadow: IsOverviewCard === true }">
                <div id="topUsersId2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pl-0">
            <div [ngClass]="{bgColorShadow: IsOverviewCard === true }">
                <div id="topApplicationId2"></div>
            </div>

        </div>
        <div class="col-md-6 pl-0">
            <div [ngClass]="{bgColorShadow: IsOverviewCard === true }">
                <div id="topCategories"></div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="col-md-4 mt-3 pl-0 mb-3">
    <div id="fwTopSitesId2"></div>
</div> -->

<div class="modal innm" id="durationChart" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content dashboard-popup">
            <div class="modal-body">
                <h4>Duration</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-8">
                        <b>Please wait...</b><br>

                    </div>
                    <div class="col-lg-4">
                        <div class="logo">
                            <div id="sudarshanloading">
                                <img src="./assets/img/sdlogo.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>