<div class="row">
    <div class="col-md-12 m-datepicker">
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>Start date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="startDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>End date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="endDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 pl-0 mb-3">
            <div id="topApplicationId2"></div>
        </div>
        <div class="col-md-4 mt-3 pl-0 mb-3">
            <div id="fwTopSitesId2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 pl-0">
            <div id="topUsersId2"></div>
        </div>
    </div>
</div>