<div class="row">
    <div class="col-md-12 m-datepicker">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>Start date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="fullStartDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 bandwidth-bg-color">
                    <label>End date</label>
                    <input type="datetime-local" class="form-control bandwidth-bg-color" [(ngModel)]="fullEndDate"
                        [ngModelOptions]="{ standalone: true }">
                </div>
                <!-- <button (click)="overviewDashboard()">asdd</button> -->
            </div>
            
            <div class="col-md-2 m-t-0">
                <button type="button" class="btn btn-color" (click)="overviewDashboard()">
                    <i class="fas fa-arrow-up"></i>
                </button>
            </div>
            <div class="col-md-2 m-t-0">
                <button type="button" class="btn btn-color" (click)="resetFilters()">
                    Clear Filter
                </button>
            </div>
        </div>
      
    </div>
</div>
<div class="row">
    <div class="col-md-6 m-t-1" *ngIf="useFilter">
        <!-- <button type="button" class="btn btn-color-org"> -->
          <label class="f-size">Filters:</label>  
         <label class="label-filter">{{filterFieldValue}} : {{filterFieldName}}</label> 
        <!-- </button> -->
    </div>
</div>

<div class="container m-t-10">
    <!-- <button (click)="prre()" >cfghfh</button> -->
    <!-- <div class="row mt-3 p-box bandwidth-bg-color" *ngIf="IsOverviewCard">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-4">
                    <div class="padding-bottom-zero">
                        <div class="card">
                            <div class="card-body">
                                <label class="box-font">39</label> <br>
                                <label>Total Size</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="padding-bottom-zero">
                        <div class="card">
                            <div class="card-body">
                                <label class="box-font">39</label> <br>
                                <label>Average Size</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="padding-bottom-zero">
                        <div class="card">
                            <div class="card-body">
                                <label class="box-font">39</label> <br>
                                <label>Largest download</label>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-2 mt-3 bandwidth-card" *ngIf="IsOverviewCard">
            <h4 class="text-center p-bandwidth">Bandwidth
                <hr class="hr-mb-bandwidth">
            </h4>
            <div class="padding-bottom-zero">
                <div class="card">
                    <div class="card-body">
                        <label class="box-font">{{totalBandwidth.text}}</label> <br>
                        <label>Total Bandwidth</label>
                    </div>
                </div>
            </div>
            <div class="card mt-2 padding-bottom-zero">
                <div class="card-body">
                    <label class="box-font">{{bandwidthRate.text}}</label> <br>
                    <label>Bandwidth Rate</label>
                </div>
            </div>
            <!-- <div class="card mt-2 padding-bottom-zero">
                <div class="card-body">
                    <label class="box-font">{{averageBandwidth.text}}</label> <br>
                    <label>Average Bandwidth</label>
                </div>
            </div> -->
            <!-- <div class="card mt-2 padding-bottom-zero">
                <div class="card-body">
                    <label class="box-font">39</label> <br>
                    <label>Largest download</label>
                </div>
            </div> -->
        </div>
        <div class="col-md-10 mt-3">
            <div id="bandwidthOvertime1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3 pl-0">
            <div id="productivityPieChart"></div>
        </div>
        <div class="col-md-8 mt-3">
            <div id="productivityOvertime1"></div>
        </div>
        <!-- <div class="col-md-2 mt-3 bandwidth-bg-color" *ngIf="IsOverviewCard">
            <h4 class="text-center p-bandwidth">Productivity
                <hr class="hr-mb-bandwidth">
            </h4>
            <div class="padding-bottom-zero">
                <div class="card">
                    <div class="card-body">
                        <label class="box-font">39</label> <br>
                        <label>Total Size</label>
                    </div>
                </div>
            </div>
            <div class="card mt-2 padding-bottom-zero">
                <div class="card-body">
                    <label class="box-font">39</label> <br>
                    <label>Average Size</label>
                </div>
            </div>
            <div class="card mt-2 padding-bottom-zero">
                <div class="card-body">
                    <label class="box-font">39</label> <br>
                    <label>Largest download</label>
                </div>
            </div>
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-4 mt-3 pl-0">
            <div id="trafficPieChart1"></div>
        </div>
        <div class="col-md-8 mt-3">
            <div id="trafficActionOvertime1"></div>
        </div>

    </div>
</div>

<div class="modal innm" id="overviewChart" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content dashboard-popup">
            <div class="modal-body">
                <h4>Overview</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-8">
                        <b>Please wait...</b><br>
                    </div>
                    <div class="col-lg-4">
                        <div class="logo">
                            <div id="sudarshanloading">
                                <img src="./assets/img/sdlogo.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>